*.pyc
__pycache__/
db.sqlite3
.DS_Store
media/
static/
venv/
*.sh
# Google Cloud Service Account credentials
steady-vine-396608*.json
*.json.key
*.json.credentials

# Файлы данных БД
db_data.json

# Оставьте для возможных конфигурационных файлов
# *.json
